.add {
    background-color: #b4a7d6;
    border-style: solid;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 660px;
    height: 60px;

    /* border-color: black; */
}